body,html{
    margin: 0;
    font-size: 18px;
    color: #2D3748;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sansserif;
}

.container{
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 21% auto 4%;
    grid-template-areas: 
        "header header"
        "main sidebar"
        "footer footer";

    
}



header{
    grid-area: header;
    background-color: #63B3ED;
    color: #FFFFFF;
}

main{
    grid-area: main;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;

}

aside{
    grid-area: sidebar;
    padding-top: 30px;
    padding-right: 30px;
}

footer{
    grid-area: footer;
    background-color:  #2C5282;
    color: #FFFFFF;
    padding-left: 25px;
}



#w1{
    float: left;
    padding-right: 5px;
}

#w2{
    float: right;
}

#sec1{
    background-color: #E2E8F0;
    padding: 20px;
    color: black;
}

#sec2{
    padding: 20px;
}

#sec3{
    padding: 20px;
}

.head{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#name{
    margin-bottom: 0;
    padding-bottom: 0;
    font-size: 36px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#quote{
    margin-top: 0;
    padding-top: 0;
}

#picme{
    border-radius: 50%;
    padding-top: 20px;
}

#blog-title{
    font-size: 32px;
    color: #48BB78;
}

#author{
    color: #718096;
    font-style: italic;
}

#side-heading-1{
    color: #48BB78;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#side-heading-2{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#links{
    color: #4299E1;
}

a{
    text-decoration: none;
    
}

ul{
    list-style-type: none;
}